<%- include('partials/header.ejs') %>

<ul>
  <li style="list-style: none" class="member">Name: <%= member.name %></li>
  <li style="list-style: none" class="member">Email: <%= member.email %></li>
</ul>

<%- include('partials/footer.ejs') %>
